                                      ************************                                      
                                 **********************************                                 
                           **********************************************                           
                        ****************************************************                        
                      ********************************************************                      
                   **************************************************************                   
                 ******************************************************************                 
               **********************************************************************               
             **************************************************************************             
           ******************************************************************************           
          *************+==+***************************************************************          
        ************=.      .=**************************************************************        
        ***********-.        .-+*************************************************************       
      ************+.          .+**************************************************************      
     *************+:          .-+**************************************************************     
    ***************=.           ..-*****+=--:..... ....::-=+************************************    
    ****************+:      .=+-.  .--:..        .:-====-:....-+********************************    
   ********************++++*****+.             :+************+-..:+******************************   
  *****************************+:.             =****************+-..=*****************************  
 ****************************+-.               ..............:-+***+..+**************************** 
 ***************************+.                                   :=**=.-*************************** 
 **************************=.                                      .=*=.:+**************************
**************************=..                                       .:=..-+*************************
*************************+:                                           :*-.=*************************
*************************=.                                           .:. .*************************
*************************:                                                .+************************
************************+.                                                 -************************
**********************+-.                                                  .-+**********************
********************+:.                                                      .:+********************
******************+:.                                                          .:+******************
****************+-.                                                              .-+****************
***************=..       .                                                        ..=***************
**************=.       .-=.                                               ::.       .=**************
 ************+.       .-++:                                              .=+-.       .+*************
 ************-        :+**-.                                             :+*+:.       =************ 
 ************=.     .:****+.                                            .-****:.     .=************ 
  ************=:...:+******-.                                           :+*****+:...:=************  
   ************************+:                                          .=************************   
    ************************+.                                        .=************************    
    *************************+.                                      .-*************************    
     *************************+.                                    .-*************************     
      **************************:.             .......            ..+*************************      
        *************************+:.        .:=+*****+:..        .=**************************       
        ***************************+=-:..:-=+**********++=::..:=+***************************        
          ********************************************************************************          
           ******************************************************************************           
             **************************************************************************             
               **********************************************************************               
                 ******************************************************************                 
                   **************************************************************                   
                      ********************************************************                      
                        ****************************************************                        
                           **********************************************                           
                                 **********************************                                 
                                      ************************                                      

                <h1>🕺 See you at the CloudNative Gangsters Speakeasy Party! 🕺</h1>
